syntax: glob

#OSX
.DS_Store
*.xcodeproj
*.dylib
.Spotlight-V100
.Trashes

#Other
Debug/*
Build/*

#cmake
CMakeFiles/
CMakeScripts/
CMakeCache.txt
cmake_install.cmake

#Windows
*.vspscc
*.vssscc
*.exe
*.dll

#Generated
*.obj
*.s
*.ll

#Eclipse
*.cproject
*.project
*.settings

#CLion
*.idea
*.iml